@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  background-color: yellowgreen;
  font-family: "Roboto", sans-serif;
}
.Temp-Convert-image {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

p {
  display: inline;
}
.Temp-Converter {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  margin-top: 50px;
}
input {
  border: 1.5px solid black;
  border-radius: 5px;
  height: 24px;
}
